/*
  Icon Font: fswcustom
*/

@font-face {
  font-family: "fswcustom";
  src: url("../fonts/fswcustom_54200b668e8b0e1aa4c506385ab3568e.eot");
  src: url("../fonts/fswcustom_54200b668e8b0e1aa4c506385ab3568e.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fswcustom_54200b668e8b0e1aa4c506385ab3568e.woff") format("woff"),
       url("../fonts/fswcustom_54200b668e8b0e1aa4c506385ab3568e.ttf") format("truetype"),
       url("../fonts/fswcustom_54200b668e8b0e1aa4c506385ab3568e.svg#fswcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fswcustom";
    src: url("../fonts/fswcustom_54200b668e8b0e1aa4c506385ab3568e.svg#fswcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-area-chart:before,
.icon-arrow-circle-down:before,
.icon-arrow-circle-right:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-up:before,
.icon-ban:before,
.icon-bar-chart:before,
.icon-beer:before,
.icon-bolt:before,
.icon-book:before,
.icon-building-o:before,
.icon-camera:before,
.icon-cap:before,
.icon-caret-down:before,
.icon-caret-left:before,
.icon-caret-right:before,
.icon-caret-up:before,
.icon-cart-plus:before,
.icon-category:before,
.icon-check:before,
.icon-chevron-circle-down:before,
.icon-chevron-circle-left:before,
.icon-chevron-circle-right:before,
.icon-chevron-circle-up:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-circle-thin:before,
.icon-close:before,
.icon-close-circle:before,
.icon-cog:before,
.icon-comment:before,
.icon-comments:before,
.icon-comments-o:before,
.icon-credit-card:before,
.icon-cutlery:before,
.icon-edit:before,
.icon-envelope:before,
.icon-envelope-o:before,
.icon-envelope-square:before,
.icon-exchange:before,
.icon-exclamation-circle:before,
.icon-eye:before,
.icon-facebook:before,
.icon-fire:before,
.icon-fsw:before,
.icon-googleplus:before,
.icon-group:before,
.icon-headset:before,
.icon-heart:before,
.icon-heartbeat:before,
.icon-home:before,
.icon-keyboard-o:before,
.icon-legal:before,
.icon-line-chart:before,
.icon-list-ul:before,
.icon-location:before,
.icon-loggedin:before,
.icon-menu:before,
.icon-minus:before,
.icon-minus-circle:before,
.icon-minus-square:before,
.icon-newspaper-o:before,
.icon-phone:before,
.icon-pinterest:before,
.icon-plane:before,
.icon-play:before,
.icon-plus:before,
.icon-plus-circle:before,
.icon-plus-square:before,
.icon-print:before,
.icon-question:before,
.icon-question-circle:before,
.icon-refine:before,
.icon-rocket:before,
.icon-search:before,
.icon-search-plus:before,
.icon-seasond:before,
.icon-send:before,
.icon-share:before,
.icon-shipping-freeship:before,
.icon-shipping-fswdirect:before,
.icon-shopping-cart:before,
.icon-signout:before,
.icon-smile-o:before,
.icon-spec-sheet:before,
.icon-spinner:before,
.icon-star:before,
.icon-star-empty:before,
.icon-star-half-empty:before,
.icon-sun-o:before,
.icon-tag:before,
.icon-th-grid:before,
.icon-th-list:before,
.icon-thumbs-up-o:before,
.icon-train:before,
.icon-trash-o:before,
.icon-truck:before,
.icon-twitter:before,
.icon-usd:before,
.icon-user:before,
.icon-warranty:before,
.icon-wrench:before,
.icon-youtube:before {
  display: inline-block;
  font-family: "fswcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-area-chart:before { content: "\f100"; }
.icon-arrow-circle-down:before { content: "\f101"; }
.icon-arrow-circle-right:before { content: "\f102"; }
.icon-arrow-down:before { content: "\f103"; }
.icon-arrow-left:before { content: "\f104"; }
.icon-arrow-right:before { content: "\f105"; }
.icon-arrow-up:before { content: "\f106"; }
.icon-ban:before { content: "\f107"; }
.icon-bar-chart:before { content: "\f161"; }
.icon-beer:before { content: "\f108"; }
.icon-bolt:before { content: "\f159"; }
.icon-book:before { content: "\f109"; }
.icon-building-o:before { content: "\f15a"; }
.icon-camera:before { content: "\f10a"; }
.icon-cap:before { content: "\f10b"; }
.icon-caret-down:before { content: "\f10c"; }
.icon-caret-left:before { content: "\f10d"; }
.icon-caret-right:before { content: "\f10e"; }
.icon-caret-up:before { content: "\f10f"; }
.icon-cart-plus:before { content: "\f110"; }
.icon-category:before { content: "\f111"; }
.icon-check:before { content: "\f112"; }
.icon-chevron-circle-down:before { content: "\f113"; }
.icon-chevron-circle-left:before { content: "\f114"; }
.icon-chevron-circle-right:before { content: "\f115"; }
.icon-chevron-circle-up:before { content: "\f116"; }
.icon-chevron-down:before { content: "\f117"; }
.icon-chevron-left:before { content: "\f118"; }
.icon-chevron-right:before { content: "\f119"; }
.icon-chevron-up:before { content: "\f11a"; }
.icon-circle-thin:before { content: "\f11b"; }
.icon-close:before { content: "\f11c"; }
.icon-close-circle:before { content: "\f11d"; }
.icon-cog:before { content: "\f11e"; }
.icon-comment:before { content: "\f11f"; }
.icon-comments:before { content: "\f120"; }
.icon-comments-o:before { content: "\f121"; }
.icon-credit-card:before { content: "\f122"; }
.icon-cutlery:before { content: "\f123"; }
.icon-edit:before { content: "\f125"; }
.icon-envelope:before { content: "\f126"; }
.icon-envelope-o:before { content: "\f127"; }
.icon-envelope-square:before { content: "\f128"; }
.icon-exchange:before { content: "\f164"; }
.icon-exclamation-circle:before { content: "\f129"; }
.icon-eye:before { content: "\f16a"; }
.icon-facebook:before { content: "\f12a"; }
.icon-fire:before { content: "\f15b"; }
.icon-fsw:before { content: "\f12b"; }
.icon-googleplus:before { content: "\f12c"; }
.icon-group:before { content: "\f12d"; }
.icon-headset:before { content: "\f12e"; }
.icon-heart:before { content: "\f12f"; }
.icon-heartbeat:before { content: "\f130"; }
.icon-home:before { content: "\f131"; }
.icon-keyboard-o:before { content: "\f132"; }
.icon-legal:before { content: "\f133"; }
.icon-line-chart:before { content: "\f134"; }
.icon-list-ul:before { content: "\f135"; }
.icon-location:before { content: "\f136"; }
.icon-loggedin:before { content: "\f137"; }
.icon-menu:before { content: "\f138"; }
.icon-minus:before { content: "\f139"; }
.icon-minus-circle:before { content: "\f13a"; }
.icon-minus-square:before { content: "\f13b"; }
.icon-newspaper-o:before { content: "\f15c"; }
.icon-phone:before { content: "\f13c"; }
.icon-pinterest:before { content: "\f13d"; }
.icon-plane:before { content: "\f13e"; }
.icon-play:before { content: "\f13f"; }
.icon-plus:before { content: "\f140"; }
.icon-plus-circle:before { content: "\f141"; }
.icon-plus-square:before { content: "\f142"; }
.icon-print:before { content: "\f15d"; }
.icon-question:before { content: "\f143"; }
.icon-question-circle:before { content: "\f144"; }
.icon-refine:before { content: "\f145"; }
.icon-rocket:before { content: "\f146"; }
.icon-search:before { content: "\f147"; }
.icon-search-plus:before { content: "\f15e"; }
.icon-seasond:before { content: "\f16b"; }
.icon-send:before { content: "\f148"; }
.icon-share:before { content: "\f15f"; }
.icon-shipping-freeship:before { content: "\f162"; }
.icon-shipping-fswdirect:before { content: "\f163"; }
.icon-shopping-cart:before { content: "\f149"; }
.icon-signout:before { content: "\f14a"; }
.icon-smile-o:before { content: "\f14b"; }
.icon-spec-sheet:before { content: "\f165"; }
.icon-spinner:before { content: "\f14c"; }
.icon-star:before { content: "\f14d"; }
.icon-star-empty:before { content: "\f14e"; }
.icon-star-half-empty:before { content: "\f14f"; }
.icon-sun-o:before { content: "\f166"; }
.icon-tag:before { content: "\f150"; }
.icon-th-grid:before { content: "\f167"; }
.icon-th-list:before { content: "\f168"; }
.icon-thumbs-up-o:before { content: "\f160"; }
.icon-train:before { content: "\f151"; }
.icon-trash-o:before { content: "\f152"; }
.icon-truck:before { content: "\f153"; }
.icon-twitter:before { content: "\f154"; }
.icon-usd:before { content: "\f155"; }
.icon-user:before { content: "\f156"; }
.icon-warranty:before { content: "\f169"; }
.icon-wrench:before { content: "\f157"; }
.icon-youtube:before { content: "\f158"; }
